{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <section>
      <div class="row">
        <div class="col-md-12">
          <article class="blog-post">
            <div class="blog-post-body">
              <h2>Acerca de este blog</h2>
              <div class="blog-post-text">
                <p>
                  Mi nombre es Iván Kuzel, vivo en Buenos Aires y desde chico me gusta cocinar, probar nuevas recetas y agasajar a mis seres
                  queridos con algo rico. Soy ingeniero en Software pero siempre tuve como hobbie la cocina, la fotografía y la música.
                </p>
                <p>
                  Este espacio tiene como propósito compartir con ustedes las recetas
                  que más me gustan. Todas ellas parten de una receta
                  que en algún momento encontré, escribí en mi cuaderno y con el tiempo fui modificando para adaptar los ingredientes o la preparación
                  según las variantes que iban funcionando.
                </p>
                <p>
                  Por cualquier consulta me pueden escribir a ivankuzel@gmail.com o encontrarme en cualquiera de las redes sociales que figuran en el pie de la página.
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
  </div>

{% endblock %}
